    <!-- Header -->
    <nav class="navbar">
        <div class="nav-logo">
            <a href="index.html">
                <img src="assets/logo/tplogo.png" alt="책-이음 로고">
            </a>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#">사이트 소개</a>
                <ul class="dropdown-menu">
                    <li><a href="aboutus.html">책-이음 이란?</a></li>
                    <li><a href="#">프로그램 소개</a></li>
                    <li><a href="globals.html">해외 사례</a></li>
                    <li><a href="#">만든 사람들</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">연령별 프로그램</a>
                <ul class="dropdown-menu">
                    <li><a href="#">영·유아</a></li>
                    <li><a href="#">초등·청소년</a></li>
                    <li><a href="#">부모</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">도서 관리</a>
                <ul class="dropdown-menu">
                    <li><a href="#">나의 책장</a></li>
                    <li><a href="#">독서 캘린더</a></li>
                    <li><a href="#">독후 활동</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">창작 놀이</a>
                <ul class="dropdown-menu">
                    <li><a href="#">대회 목록</a></li>
                    <li><a href="#">결과물 관리</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">커뮤니티</a>
                <ul class="dropdown-menu">
                    <li><a href="#">도서 나눔</a></li>
                    <li><a href="#">자유 게시판</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#">고객센터</a>
                <ul class="dropdown-menu">
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">문의하기</a></li>
                </ul>
            </li>
        </ul>

        <div class="nav-login">
            <a href="login.html" class="login-btn">로그인</a>
        </div>
    </nav>
    <!-- End Header -->